<ion-header>
  <ion-toolbar>
    <ion-title>Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end">

    <ion-fab-button
      [disabled]="categories.length === 0"
      (click)="openTaskModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

  </ion-fab>

  <ion-item>

    <ion-label>
      Filtrar por categoría
    </ion-label>

    <ion-select
      [(ngModel)]="selectedCategory"
      placeholder="Todas"
      (ionChange)="applyFilter()">

      <ion-select-option value="">
        Todas
      </ion-select-option>

      @for(category of categories; track category) {

        <ion-select-option [value]="category">
          {{ category }}
        </ion-select-option>

      }

    </ion-select>

  </ion-item>

  @if (filteredTasks.length) {
      <ion-list class="ion-margin-top">

      @for(task of filteredTasks; track task.id) {

        <ion-item [class.completed]="task.completed">

          <ion-label>

            <h2 [class.strike]="task.completed">
              {{ task.title }}
            </h2>

          <ion-chip>
            <ion-label>
              {{ task.category }}
            </ion-label>
          </ion-chip>

          </ion-label>

          <ion-button
            class="action-btn complete-btn"
            fill="clear"
            (click)="toggleComplete(task.id)">

            <ion-icon
              [name]="task.completed
                ? 'arrow-undo-outline'
                : 'checkmark-outline'">
            </ion-icon>

          </ion-button>

          <ion-button
            class="action-btn delete-btn"
            fill="clear"
            (click)="deleteTask(task.id)">

            <ion-icon
              name="trash-outline">
            </ion-icon>

          </ion-button>

        </ion-item>

      }

    </ion-list>

  }@else {
    <p class="ion-text-center ion-margin-top">
      No hay tareas
    </p>

  }

</ion-content>
