<ion-header>
  <ion-toolbar>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button
    expand="block"
    class="ion-margin-bottom"
    (click)="openAddModal()">
    Agregar categoría
  </ion-button>
  @if (categories.length) {
    <ion-list>

      @for(category of categories; track $index) {

        <ion-item>

          <ion-label>
            {{ category }}
          </ion-label>

          <ion-button
            slot="end"
            fill="clear"
            color="primary"
            (click)="openEditModal($index)">
            Editar
          </ion-button>

          <ion-button
            slot="end"
            fill="clear"
            color="danger"
            (click)="removeCategory($index)">
            Eliminar
          </ion-button>

        </ion-item>

      }

    </ion-list>
  }@else {
  <p class="ion-text-center ion-margin-top">
    No hay categorías
  </p>
  }

</ion-content>
