<ion-header>
  <ion-toolbar>
    <ion-title>Nueva tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-input
      label="Título"
      labelPlacement="stacked"
      [(ngModel)]="title"
      color="primary"
      >
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Categoría</ion-label>

    <ion-select [(ngModel)]="category">

      @for(category of categories; track category) {

        <ion-select-option [value]="category">
          {{ category }}
        </ion-select-option>

      }

    </ion-select>
  </ion-item>

  <ion-button
    expand="block"
    class="ion-margin-top"
    (click)="save()"
    >
    Guardar
  </ion-button>

  <ion-button
    expand="block"
    fill="outline"
    color="tertiary"
    (click)="cancel()">

    Cancelar

  </ion-button>

</ion-content>
