<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ mode === 'add' ? 'Nueva categoría' : 'Editar categoría' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-input
      label="Nombre de categoría"
      labelPlacement="floating"
      [(ngModel)]="category">
    </ion-input>
  </ion-item>

  <ion-button
    expand="block"
    class="ion-margin-top"
    (click)="save()">
    {{ mode === 'add' ? 'Crear' : 'Actualizar' }}
  </ion-button>

  <ion-button
    expand="block"
    fill="outline"
    color="medium"
    (click)="cancel()">
    Cancelar
  </ion-button>

</ion-content>
